### windows ###
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN

### MAC OS ###
*.DS_Store

### svn/git ###
.svn
.git

### vscode ###
.vscode
.history

### WebStorm ###
.idea
*.stackdump

### npm/yarn ###
package-lock.json
*.log

### folder ###
dist

### files ###
*.tar
*.tgz

### node ###
node_modules
stats.json
commit.json
bower_components
